{{#contentFor "style"}}
      <link rel="stylesheet" href="/public/css/home.css">
{{/contentFor}}
{{#contentFor "jscript"}}
  <script defer src="/public/javascript/home_anomaly.js"></script>
{{/contentFor}}

<div id="container">
    <form action="/" method="post">
        <div class="form-group">
            <label for="resource">Ressource</label><br>
            <select name="resource" id="resource">
                {{#each resources}}
                    <option id="option_value" value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}} </option>

                {{/each}}

            </select>
            <datalist id="desc">
                {{#each resources}}
                    <option id="slctdopt" data-id="{{this.id}}" value="{{this.description}}"></option>
                    
                {{/each}}
            </datalist>
                <p id="p_details">Description:{{#each resources}}{{#if this.selected}} {{this.description}} {{/if}}{{/each}}</p>


        </div>
        <div>
        </div>
        <div class="form-group">
            <label for="location">Location</label><br>
            <select name="location" id="location">
                {{#each locations}}
                    <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="anomaly">Commentaire</label><br/>
            <input name="anomaly" list="anomalies" id="anomaly" type="text">
        </div>
        <button type="submit">Envoyer</button>
    </form>
    <datalist id="anomalies">
        {{#each messages}}
            <option value="{{this}}"></option>
        {{/each}}
    </datalist>
</div> 
